participants = [
    {
        "id": 0,
        "name": "James",
        "phone": "1234567890",
        "age": 19,
        "dont_pair": [],
    },
    {
        "id": 1,
        "name": "Robert",
        "phone": "1234567890",
        "age": 16,
        "dont_pair": [],
    },
    {
        "id": 2,
        "name": "Mary",
        "phone": "1234567890",
        "age": "Mom",
        "dont_pair": [3],
    },
    {
        "id": 3,
        "name": "Patricia",
        "phone": "1234567890",
        "age": "Mom",
        "dont_pair": [2],
    },
    {
        "id": 4,
        "name": "John",
        "phone": "1234567890",
        "age": 24,
        "dont_pair": [0],
    },
    {
        "id": 5,
        "name": "Jennifer",
        "phone": "1234567890",
        "age": 25,
        "dont_pair": [0],
    },
    {
        "id": 6,
        "name": "Linda",
        "phone": "1234567890",
        "age": "Mom",
        "dont_pair": [9, 8, 7],
    },
    {
        "id": 7,
        "name": "Michael",
        "phone": "1234567890",
        "age": "Dad",
        "dont_pair": [9, 8, 6],
    },
    {
        "id": 8,
        "name": "Richard",
        "phone": "1234567890",
        "age": 17,
        "dont_pair": [9, 7, 6],
    },
    {
        "id": 9,
        "name": "Joseph",
        "phone": "1234567890",
        "age": 5,
        "dont_pair": [8, 7, 6],
    },
]
